@model ImageHLViewModel

<form asp-action="AddImages" asp-controller="Images" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" asp-for="@Model.ImageCategory" value="@ViewBag.ImageCategory" />
        <div class="col-sm-3 row mb-3">
            <input asp-for="@Model.UploadImageFiles" type="file" multiple="multiple">
            <span asp-validation-for="@Model.UploadImageFiles" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger">Upload All</button>
    </div>
</form>

<form method="post">
    <div class="row">
        @if (!Model.DisplayImages.Any())
        {
            <div class="offset-3 col-6">
                <h2 class="text-center">No Images found!</h2>
            </div>
        }

        @foreach (var img in Model.DisplayImages)
        {
            <partial name="_ImageViewPartial" model="@img" />
        }
    </div>
</form>
