@model DrainFormModel

@{
    var isAddView = ViewBag.Title == "Add Drains" ? true : false;
    var isDetailsView = ViewBag.Title == "View Details" ? true : false;
    var isEditView = ViewBag.Title == "Edit Drain" ? true : false;
}

<div class="row">

    <div class="offset-md-3 col-md-6">
        @if (!isAddView)
        {
            <img src="@Model.ImageUrl" class="shadow-sm card-img-top">
        }

        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="shadow-sm form-control" asp-for="Name" placeholder="e.g. HL3020" disabled="@isDetailsView">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FlowRate"></label>
                <input class="shadow-sm form-control" asp-for="FlowRate" placeholder="l/s" disabled="@isDetailsView">
                <span asp-validation-for="FlowRate" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DrainageArea"></label>
                <input class="shadow-sm form-control" asp-for="DrainageArea" placeholder="m²" disabled="@isDetailsView">
                <span asp-validation-for="DrainageArea" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Depth"></label>
                <input class="shadow-sm form-control" asp-for="Depth" placeholder="mm" disabled="@isDetailsView">
                <span asp-validation-for="Depth" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Direction"></label>
                <select class="shadow-sm form-control" asp-for="Direction" asp-items="Html.GetEnumSelectList<DrainDirectionEnum>()" disabled="@isDetailsView">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="Direction" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Diameter"></label>
                <select class="shadow-sm form-control" asp-for="Diameter" asp-items="Html.GetEnumSelectList<DrainDiameterEnum>()" disabled="@isDetailsView">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="Diameter" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VisiblePart"></label>
                <select class="shadow-sm form-control" asp-for="VisiblePart" asp-items="Html.GetEnumSelectList<DrainVisiblePartEnum>()" disabled="@isDetailsView">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="VisiblePart" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Waterproofing"></label>
                <select class="shadow-sm form-control" asp-for="Waterproofing" asp-items="Html.GetEnumSelectList<DrainWaterproofingEnum>()" disabled="@isDetailsView">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="Waterproofing" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Heating"></label>
                <select class="shadow-sm form-control" asp-for="Heating" asp-items="Html.GetEnumSelectList<DrainHeatingEnum>()" disabled="@isDetailsView">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="Heating" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Renovation"></label>
                <select class="shadow-sm form-control" asp-for="Renovation" asp-items="Html.GetEnumSelectList<DrainRenovationEnum>()" disabled="@isDetailsView">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="Renovation" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FlapSeal"></label>
                <select class="shadow-sm form-control" asp-for="FlapSeal" asp-items="Html.GetEnumSelectList<DrainFlapSealEnum>()" disabled="@isDetailsView">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="FlapSeal" class="small text-danger"></span>
            </div>


            <div class="form-group" hidden="@isDetailsView">
                <label asp-for="ImageUrl"></label>
                <input class="shadow-sm form-control" asp-for="ImageUrl" disabled="@isDetailsView">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="shadow-sm form-control" rows="4" disabled="@isDetailsView"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>

            @if (isEditView || isAddView)
            {
                <input class="btn btn-primary" type="submit" value="Save" />
            }

            @if (isDetailsView)
            {
                <input asp-controller="Drains" asp-action="Edit" asp-route-id="@Model.Id" class="shadow btn btn-primary" type="submit" formmethod="get" value="Edit" />
                <input asp-controller="Drains"
                       asp-action="Delete"
                       asp-route-id="@Model.Id"
                       class="shadow btn btn-danger" type="submit"
                       onclick="return confirm('Are you sure you want to delete this product?')" value="Delete" />
            }
        </form>
    </div>
</div>
