@model DrainDetailsValidationModel

@{
    ViewBag.Title = "Edit Drain";
}

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <img src="@Model.ImageUrl" alt="@Model.Name" class="card-img-top">
            <h2 class="heading-margin text-center">Edit @Model.Name</h2>

            <form method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" value="@Model.Name">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FlowRate"></label>
                    <input class="form-control" asp-for="FlowRate" value="@Model.FlowRate">
                    <span asp-validation-for="FlowRate" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DrainageArea"></label>
                    <input class="form-control" asp-for="DrainageArea" value="@Model.DrainageArea">
                    <span asp-validation-for="DrainageArea" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Diameter"></label>
                    <select class="form-control" asp-for="Diameter" asp-items="Html.GetEnumSelectList<DrainDiameterEnum>()">
                    </select>
                    <span asp-validation-for="Diameter" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="VisiblePart"></label>
                    <select class="form-control" asp-for="VisiblePart" asp-items="Html.GetEnumSelectList<DrainVisiblePartEnum>()">
                    </select>
                    <span asp-validation-for="VisiblePart" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Waterproofing"></label>
                    <select class="form-control" asp-for="Waterproofing" asp-items="Html.GetEnumSelectList<DrainWaterproofingEnum>()">
                    </select>
                    <span asp-validation-for="Waterproofing" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="HasHeating"></label>
                    <div class="form-control" disabled>
                        @Html.RadioButtonFor(drain => drain.HasHeating, true)
                        <label class="radio-button-margin">Yes</label>
                        @Html.RadioButtonFor(drain => drain.HasHeating, false)
                        <label>No</label>
                    </div>
                    <span asp-validation-for="HasHeating" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ForRenovation"></label>
                    <div class="form-control">
                        @Html.RadioButtonFor(drain => drain.ForRenovation, true)
                        <label class="radio-button-margin">Yes</label>
                        @Html.RadioButtonFor(drain => drain.ForRenovation, false)
                        <label>No</label>
                    </div>
                    <span asp-validation-for="ForRenovation" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="HasFlapSeal"></label>
                    <div class="form-control">
                        @Html.RadioButtonFor(drain => drain.HasFlapSeal, true)
                        <label class="radio-button-margin">Yes</label>
                        @Html.RadioButtonFor(drain => drain.HasFlapSeal, false)
                        <label>No</label>
                    </div>
                    <span asp-validation-for="HasFlapSeal" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageUrl"></label>
                    <input class="form-control" asp-for="ImageUrl" value="@Model.ImageUrl">
                    <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="4">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>

                <input class="btn btn-primary" type="submit" value="Save" />
            </form>

        </div>
    </div>
</div>
