@model AllAtticaDrainsQueryModel

<div class="shadow-sm col-md-4 order-md-1 col-lg-3 sidebar-filter">
    <div class="row">
        @{
            var roofType = @Model.AtticaDetail.RoofType == AtticaRoofTypeEnum.WarmRoof ? "Warm Roof" : "Cold Roof";
            var isWalkable = @Model.AtticaDetail.IsWalkable == AtticaWalkableEnum.Walkable ? "Walkable" : "Not Walkable";
        }

        <div class="card h-100 border-1">
            @if (Model.AtticaDetail.Image != null)
            {
                var imgSource = Model.AtticaDetail.Image.Id == 1 ? "common/defaultImage.gif" : $"atticadetails/{Model.AtticaDetail.Image.Name}";

                <div class="card-img-custom">
                    <img src="~/images/@imgSource" class="img-fluid mx-auto d-block card-img-custom" alt="Card image cap">
                    <hr />
                </div>
            }
            <div class="card-body text-center">
                <h4 class="font-weight-bold mt-2 text-left text-dark text-center text-uppercase small">@roofType</h4>

                <h4 class="font-weight-bold text-left text-dark text-center text-uppercase small">@isWalkable</h4>

                <p class="card-text">@Model.AtticaDetail.Description</p>
            </div>
        </div>
    </div>

    <h3 class="mt-3 mb-3 pb-4 float-md-left pl-3">Total results: <span class="text-primary">@Model.TotalDrains</span></h3>
    <div class="form-group">
        <input asp-for="AtticaDetailId" value="@Model.AtticaDetailId" type="hidden" id="form-part-2" />

        <div class="mt-2 mb-2 pl-2">
            <input class="shadow-sm form-control" asp-for="SearchTerm" type="text" placeholder="Search by name..." id="searchTerm-input">
        </div>
        <hr />

        <div class="mt-3 mb-2 pl-2">
            <select class="shadow-sm form-control" asp-for="ScreedWaterproofing" asp-items="Html.GetEnumSelectList<AtticaScreedWaterproofingEnum>()" id="screedWaterproofing-select">
                <option value="">--Screed Waterproofing--</option>
            </select>
        </div>

        <div class="mt-3 mb-2 pl-2">
            <select class="shadow-sm form-control" asp-for="ConcreteWaterproofing" asp-items="Html.GetEnumSelectList<AtticaConcreteWaterproofingEnum>()" id="concreteWaterproofing-select">
                <option value="">--Concrete Waterproofing--</option>
            </select>
        </div>

        <div class="mt-3 mb-2 pl-2">
            <select class="shadow-sm form-control" asp-for="Diameter" asp-items="Html.GetEnumSelectList<AtticaDiameterEnum>()" id="diameter-select">
                <option value="">--Diameter--</option>
            </select>
        </div>

        <button class="shadow form-control btn btn-lg btn-block btn-primary mt-5" type="submit"><i class="pr-2 bi bi-search"></i>Search</button>
        <button class="shadow form-control btn btn-lg btn-block btn-danger mt-2" id="reset-atticaDrains-button">Reset Filters</button>

    </div>
</div>