@model AtticaDrainFormModel

@{
    var isDetailsView = ViewBag.Title == "View Details" ? true : false;
    var isEditView = ViewBag.Title == "Edit Attica Drain" ? true : false;
}

<div class="form-group mb-3">
    <input asp-for="Id" value="@Model.Id" type="hidden" />
    @if (!isDetailsView)
    {
        <div class="form-group">
            <a onclick="showInPopup('@Url.Action("AddAtticaPartModal","AtticaDrains", new { drainId = Model.Id } ,Context.Request.Scheme)','Choose Attica Part')" class="btn btn-success text-white">Add Attica Part</a>
        </div>
    }

    <div class="row col-12">
        @if (Model.AtticaParts != null)
        {
            foreach (var part in Model.AtticaParts)
            {
                <div class="shadow col-4 p-2 mb-2">
                    <div class="card h-100">
                        <input value="@part.Id" type="hidden" />

                        @if (part.Image != null)
                        {
                            var imgSource = part.Image.Id == 1 ? "common/defaultImage.gif" : $"atticaparts/{part.Image.Name}";
                            <div class="card-img-custom">
                                <img src="~/images/@imgSource" class="img-fluid mx-auto d-block card-img-custom" alt="Card image cap">
                                <hr />
                            </div>
                        }

                        <div class="card-body text-center">
                            <h5 class="font-weight-bold mt-2 text-left text-dark text-center text-uppercase ">@part.Name</h5>
                        </div>


                        <div class="form-group text-center">
                            <a asp-controller="AtticaParts" asp-action="Details" asp-route-id="@part.Id" class="shadow btn btn-primary mb-2">View Details</a>

                            @if (isEditView)
                            {
                                <button asp-controller="AtticaDrains" asp-action="RemovePart" asp-route-partId="@part.Id" asp-route-atticaDrainId="@Model.Id" class="shadow btn btn-danger">Remove</button>
                            }
                        </div>

                    </div>
                </div>
            }
        }
    </div>
</div>
